.button {
    display: flex;
    gap: 0.5rem;
    border: none;
    border-radius: calc(var(--radius) / 3);
    padding: 0.5rem 0.75rem;
    font-weight: var(--font-medium);
    align-items: center;
    justify-content: center;

    &:focus-visible,
    &:active {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }

    > svg {
        width: 1rem;
        height: 1rem;
    }
}

.default {
    background-color: var(--button-primary-bg);
    color: var(--button-primary-fg);

    &:hover {
        background-color: var(--button-primary-accent);
    }
}

.secondary {
    background-color: var(--button-secondary-bg);
    color: var(--button-secondary-fg);

    &:hover {
        background-color: var(--button-secondary-accent);
    }
}

.outline {
    border: 1px solid var(--button-outline-border);
    color: var(--button-outline-fg);

    &:hover {
        background-color: var(--button-outline-accent);
    }
}

.icon {
    display: flex;
    border: none;
    background-color: transparent;
    padding: 0.25rem;
    border-radius: var(--radius);

    &:hover {
        cursor: default;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: var(--button-icon-accent);
    }
}

.shortcut {
    border-radius: calc(var(--radius) / 2);
    width: 3.5rem;
    height: 3.5rem;
    font-weight: var(--font-bold);
    background-color: var(--button-shortcut-bg);
    color: var(--button-shortcut-fg);
    font-size: 150%;

    &:hover {
        background-color: var(--button-shortcut-accent);
    }

    > svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.destructive {
    background-color: var(--button-destructive-bg);
    color: var(--button-destructive-fg);

    &:hover {
        background-color: var(--button-destructive-accent);
    }
}
