.overlay {
    background-color: var(--dialog-overlay-bg);
    position: fixed;
    inset: 0;
}

.content {
    border-radius: var(--radius);
    background-color: var(--dialog-content-bg);
    color: var(--dialog-content-fg);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 500px;
    max-height: 85vh;
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content:focus {
    outline: none;
}

.contentClose {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;

    & > svg {
        height: 1rem;
        width: 1rem;
    }
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.title {
    font-weight: var(--font-semibold);
    font-size: 125%;
}

.footer {
    display: flex;
    gap: 0.75rem;
    margin: 0 -1.75rem -1.75rem -1.75rem;
    padding: 1.25rem 1.75rem;
    border-top: 1px solid var(--border);
}
