.overlay {
    background-color: var(--dialog-overlay-bg);
    position: fixed;
    inset: 0;
}

.content {
    border-radius: calc(var(--radius) / 2);
    background-color: var(--dialog-content-bg);
    color: var(--dialog-content-fg);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-height: 85vh;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: 640px) {
        width: 60vw;
    }

    @media (min-width: 768px) {
        width: 50vw;
    }

    @media (min-width: 1024px) {
        width: 40vw;
    }

    @media (min-width: 1280px) {
        width: 30vw;
    }
}

.content:focus {
    outline: none;
}

.contentClose {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;

    & > svg {
        height: 1rem;
        width: 1rem;
    }
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.title {
    font-weight: var(--font-semibold);
    font-size: 125%;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.75rem;
    margin: 0 -1.25rem -1.25rem -1.25rem;
    padding: 1.25rem 1.25rem;
    border-top: 1px solid var(--border);
}
