.container {
    box-shadow: var(--shadow);
    display: flex;
    padding-left: 0.85rem;
    width: 100%;
    background-color: var(--background);
    backdrop-filter: blur(var(--blur));
    border-radius: var(--radius);
    cursor: text;
}

.form {
    width: 100%;
    display: flex;
    align-items: center;
}

.input {
    padding: 1rem 0.75rem;
    width: 100%;
    border-radius: var(--radius);
    border: none;
    background-color: transparent;
    font-size: 125%;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::-webkit-input-placeholder {
        color: var(--search-muted);
    }

    &:focus-visible {
        outline: none;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}

.icon {
    pointer-events: none;
    width: 2rem;
    height: 2rem;
}

.focus {
    outline: var(--color-white) solid 0.15rem;
}
